<div id="map-canvas"></div>
<div class="sidebar">
  <h3>Ships</h3>

  <form action="/ships/search" class="form-inline" id="search">
    <div class="input-group">
      <input type="text" name="imonumber" class="form-control" placeholder="IMO Number" id="search-input" required>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
    </div>
  </form>

  <div class="list-group ships">

  </div>
</div>

<script id="info-template" type="text/template">
<div class="info">
  {{ ship.phototag }}
  <h5>{{ ship.name }}</h5>
  <p><strong>Location:</strong> {{ ship.location }}</p>
  <p><strong>Destination:</strong> {{ ship.destination ? ship.destination.titleize() : "Unknown"  }}</p>
  <p><strong>ETA:</strong> {{ ship.etatime ? ship.etatime : "Unknown" }}</p>
  <p><strong>Heading:</strong> {{ ship.heading }}</p>
  <p><strong>Status:</strong> {{  ship.navigationstatus }}</p>
  <p><strong>Type:</strong> {{ ship.type }}</p>
</div>
</script>

<script id="list-item-template" type="text/template">
<a href="#" class="list-group-item" data-id="{{ ship.id }}">
  <h4 class="list-group-item-heading">{{ ship.name.titleize() }}</h4>
  <p class="list-group-item-text"><strong>Location: </strong>{{ ship.location }}
  </p>
  <p class="list-group-item-text"><strong>Destination: </strong>{{ ship.destination ? ship.destination.titleize() : "Unknown" }}
  </p>
</a>
</script>


<script>
  var shipsJson = <%= raw json_escape(@ships.to_json) %>;
</script>