<!DOCTYPE html>
<html>
<head>
  <title>ShipTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB94gVPGj6JAtNRUu_tDXnZYcDDKji0xoo">
  </script>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ship Tracker</a>
    </div>
  </div>
</nav>
<div class="container-fluid" id="content">
<%= yield %>
</div>
</body>
</html>
